1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1=  'This is a test of the emergency text system,' 

with open('test.txt','w') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [2]:
test2= open('test.txt','r')
test2.read()

'This is a test of the emergency text system,'

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

db=sqlite3.connect('books.db')

cur=db.cursor()

In [5]:
cur.execute("create table books(title text,author text,year integer)")

5. Read books.csv and insert its data into the book table.

In [17]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', db, if_exists='append', index = False)

5

In [18]:
data=cur.execute("select * from books")

In [19]:
data.fetchall()

[('The Catcher in the Rye', 'J.D. Salinger', 1951),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

6. Select and print the title column from the book table in alphabetical order.

In [20]:
cur.execute("select title from books order by title ")
cur.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Catcher in the Rye',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [21]:
cur.execute("select * from books order by year ")
cur.fetchall()

[('The Catcher in the Rye', 'J.D. Salinger', 1951),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [27]:
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///books.db')

connection = engine.execute("select * from books")

for i in connection:
    print(i)

('The Catcher in the Rye', 'J.D. Salinger', 1951)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
import redis

r=redis.Redis(host='localhost',port=6379,db=0)

r.hmset('test',{'count':1,'name':'Fester Bestertester'})

r.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
r.hincrby('test', 'count', 2)
print(r.hget('test', 'count'))